{% if slider %}
    <section id="slider"><!--slider-->
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div id="slider-carousel" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            {% if products %}
                                {% for product in slider %}
                                    <li data-target="#slider-carousel" data-slide-to="{{ loop.index0 }}" {% if loop.first %}class="active"{% endif %}></li>
                                {% endfor %}
                            {% endif %}
                        </ol>

                        <div class="carousel-inner">
                            {% for product in slider %}
                                <div class="item{% if loop.first %} active{% endif %}">
                                    <div class="col-sm-6">
                                        <h3><a class="detail_"
                                               href="/product/detail/{{ product.id }}">{{ product.title | safe }}</a>
                                        </h3>

                                        <p>{% if product.desc %}{{ product.desc | title(300,'...') | safe }}{% else %}{{ product.content | title(300,'...') | safe }}{% endif %}</p>

                                        <button type="button"{% if product.price_sale %}style = "text-decoration:line-through;background-color: #ebe8f0"{% endif %} onclick="window.location.href='/product/detail/{{ product.id }}'"  class="btn btn-default get">
                                            {{ product.price | vnd(' đ') }}
                                        </button>
                                        {% if product.price_sale %}
                                            <button type="button" onclick="window.location.href='/product/detail/{{ product.id }}'" class="btn btn-default get">
                                                {{ product.price_sale | vnd(' đ') }}
                                            </button>
                                        {% endif %}
                                    </div>
                                    <div class="col-sm-6 img">
                                        <img class="slider" src="{{ product.images | getImage(0) }}" class="img-responsive" alt="" />
                                        <img style="height: 140px;width: 140px" src="/frontend/Eshopper/assets/images/home/backpacker/New.png"  class="pricing" alt="" />
                                    </div>
                                </div>
                            {% endfor %}
                        </div>

                        <a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
                            <i class="fa fa-angle-left"></i>
                        </a>
                        <a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </section><!--/slider-->
{% endif %}